
.card{
    transition: all ease-in-out 1s;
    border: solid 1px;
    border-color: #99cc00;
    
     overflow: hidden;
}

.card:hover{

    transform: scale(1.1);
    transition: all ease-in-out 1s;
    overflow: hidden;
}

.nav-brand:hover{
    cursor: pointer;
    color: #99cc00
}


.center-loader{
    height: 90vh;
    
}

.cardWidth{
    width: 25rem;
    padding: 2rem;
    background-color: transparent
}

.icon{
    width: 4rem;
    
    justify-content: center;
    align-self: center;
    padding: 0.6rem;
    background-color: #99cc00;
    border-radius: 50%;
}

.price{
    background-color:var(--background-color);
    justify-content: center;
    align-items: center;
    border-radius:15px 15px 0px 0px ;
}

.card-image:hover{
     transform: scale(1.1);
    transition: all ease-in-out 1s;


}

  /* @media (min-width: 576px) {
.d-sm-none {
  display: none !important;
}  } */