.image-auth  {
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
  height: 300px;
}

.main{
  margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
}

.admin-image{
  opacity: .8;
}

.table-header-fixed{
  height: 300px;
}
.hey{
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  margin-top: 8vh;
  justify-content: center;
  
}
@media (max-width: 500px) {
  .hey {
    flex-direction: column;
  }
}
/* .property-card{
 
  padding: 100px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  float: none;
  position: relative;
  background-color: whitesmoke;
  width: 320px;
  padding: 10px;
  max-width: 85vw;
  height:55vh;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
} */

/* .property-image{
  padding: 1px;
  height:43vh;
  border-radius: 15px;
  margin-left: 1px;
  box-shadow: 0px 18px 53px 0px rgb(132, 129, 129);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  
  
} */


.property-card span{
  margin-left: 7px;
  
  bottom:0;
  margin-bottom: 38px;
  color: rgb(31, 29, 30);
  
}

.property-card p{
  margin-left: 7px;
  position: absolute;
  bottom:0;
  margin-bottom: 10px; 
  color: grey;
}


.property-card strong{
  margin-left: 7px;
  
  bottom:0;
  margin-bottom: 5px;
  color: black;
 
}

.checkout{
  background-color: rgba(18, 101, 241, 0.07);
}

.checkout-background{
  background-color: #eee;
}
.checkout-input{
  width: 55px;
}

.table-head{
 
}


.my-checkbox-x2 {
  transform: scale(3);
  margin: 40px 15px 0 0;
}

.my-checkbox {
  transform: scale(2);
  margin-right: 11px;
}






div.scrollmenu {
  background-color: rgba( 153, 204,0,0.15);
  overflow: auto;
  white-space: nowrap;
 
}

div.scrollmenu a {
  display: inline-block;
  color: #99cc00;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color:rgba(153, 204, 0, 0.5);
  border-radius: 10px;
  color: rgb(100, 100, 100);
}

.links{
  text-decoration: none;
  color: rgb(75, 71, 71);
}



.logout{
  color: red;
 margin-left: 200px;
}


.center-loader{
  
    margin: auto;
    width: 50%;
    
    padding: 10px;
 
}

.disable-text-selection{
  -moz-user-select:none; 
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.filter-input{
  background-color:rgba(153, 204, 0, 01);
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white
}

.auth-alert{
  margin-top: 95px;
  border-radius: 15px;
}